<!DOCTYPE html>
<html>
  <head>
    <title>Lotto Scraper</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
  </head>
  <body>

    <h1>This is the lotto app</h1>
    <div id='root'></div>

  <script src='./javascripts/scrape-lotto-data.js' type='text/javascript'></script>
  </body>
</html>
